<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" media="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="all">
    <link rel="stylesheet" href="../../../views/pdf/css/pdf-crop-history.css" media="print">
</head>
    <body>
         <div class="end-page">
                    <div class="fill">
                                {{#switch crop.cropTypeKey}}
                                {{#case "corn"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M15.3334 16.9999H11.7C13.0334 17.8333 14.25 18.7833 15.3334 19.7999V16.9999ZM8.66671 15.3333C9.11671 6.79992 12.6167 0.333252 17 0.333252C21.4334 0.333252 24.95 6.89992 25.3334 15.5333C27.8334 14.3833 30.6167 13.6666 33.6667 13.6666C24.0834 17.9499 27.4167 33.6666 17 33.6666C7.00004 33.6666 10.2167 17.9499 0.333374 13.6666C3.36671 13.6666 6.16671 14.3333 8.66671 15.3333ZM15.3334 15.3333V11.9999H10.7334L10.3834 15.3333H15.3334ZM15.3334 10.3333V6.99992H12.0834C11.6667 7.99992 11.3334 9.11659 11.05 10.3333H15.3334ZM15.3334 5.33325V2.49992C14.4167 3.04992 13.5834 4.03325 12.8334 5.33325H15.3334ZM17 1.99992V5.33325H18.6667V6.99992H17V10.3333H20.3334V11.9999H17V15.3333H22V16.9999H17V20.3333H20.3334V21.9999H17.3834C19.3667 24.4166 20.5834 26.9999 20.8667 29.0499C22.5167 26.2666 23.6 21.7333 23.6667 16.5999C23.5667 8.66659 20.55 1.99992 17 1.99992Z" />
                                </svg>
                                {{/case}}
                                {{#case "soy"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M10.6616 35.3333C10.206 35.3333 9.75035 35.3333 9.29475 35.3333C9.08282 35.3043 8.87088 35.2772 8.65895 35.2445C6.58353 34.926 4.57626 34.3422 2.58112 33.7071C2.26089 33.6053 2.05177 33.4082 1.96494 33.0832C1.50187 31.3477 0.998648 29.6216 0.586924 27.8741C0.192939 26.204 0.25269 24.5256 0.802589 22.8864C1.75301 20.0553 3.60343 18.0481 6.3716 16.9282C7.59463 16.4331 8.43209 15.6093 8.95024 14.4016C9.23593 13.7356 9.56736 13.0781 9.96601 12.4747C11.0658 10.8112 12.5857 9.65019 14.4334 8.91324C15.6424 8.43035 16.4724 7.58224 16.9317 6.3596C17.3322 5.29293 17.9213 4.33182 18.6962 3.49866C20.9519 1.07205 23.7331 0.00911829 27.026 0.419158C29.0976 0.676951 31.0881 1.30462 33.0795 1.91267C33.424 2.01822 33.6462 2.23585 33.7414 2.58424C34.1382 4.04413 34.5574 5.49749 34.9215 6.96485C35.1092 7.72328 35.1988 8.506 35.3333 9.27845C35.3333 9.71184 35.3333 10.1443 35.3333 10.5777C35.3118 10.6758 35.2894 10.7738 35.2698 10.8728C35.1456 11.4846 35.0812 12.116 34.8879 12.7054C33.9571 15.5523 32.1104 17.5829 29.3301 18.7122C28.0968 19.2128 27.2444 20.0329 26.7235 21.2546C26.4396 21.9206 26.1054 22.5772 25.7058 23.1796C24.6116 24.831 23.1066 25.9939 21.2693 26.7252C20.0481 27.2118 19.2349 28.0712 18.7373 29.2929C17.5227 32.2743 15.3259 34.1741 12.231 35.0288C11.7184 35.1717 11.1853 35.2342 10.6616 35.3333ZM17.8401 13.0491C15.2316 13.0463 13.0824 15.1881 13.0637 17.8071C13.0451 20.4224 15.2148 22.6024 17.8364 22.6033C20.4458 22.6043 22.5959 20.4625 22.6118 17.8454C22.6286 15.2264 20.4645 13.051 17.8401 13.0491ZM14.6518 25.7959C14.664 23.175 12.554 21.0454 9.91373 21.0155C7.29121 20.9856 5.12522 23.1357 5.12056 25.7734C5.11589 28.4027 7.22959 30.5351 9.85772 30.5519C12.4961 30.5697 14.6388 28.4438 14.6518 25.7959ZM21.0265 9.85848C21.0172 12.484 23.1234 14.608 25.7646 14.637C28.3881 14.6659 30.5503 12.5177 30.5559 9.87716C30.5615 7.2488 28.4469 5.1164 25.8188 5.09959C23.1795 5.08371 21.0359 7.21237 21.0265 9.85848Z"
                                        fill="white" />
                                </svg>
                                {{/case}}
                                {{#case "cotton"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M29.0001 12.1632C29.0001 8.35492 25.8779 5.24611 22.0533 5.24611C21.8972 5.24611 21.7411 5.24611 21.585 5.24611C20.8435 2.21503 18.0726 0 14.8334 0C11.6332 0 8.86234 2.21503 8.08181 5.24611C7.9257 5.24611 7.76959 5.24611 7.61349 5.24611C3.78888 5.24611 0.666748 8.35492 0.666748 12.1632C0.666748 14.1062 1.44728 15.8938 2.89127 17.215C2.69613 17.8756 2.57905 18.5363 2.57905 19.1969C2.61808 23.0052 5.70118 26.114 9.52579 26.114C10.7356 26.114 12.1015 25.8031 12.8821 25.2202V29.2617C12.8821 29.6891 13.3114 30 13.7407 30H15.9652C16.3945 30 16.8238 29.6891 16.8238 29.2617V25.2202C17.6043 25.8031 18.9702 26.114 20.1801 26.114C24.0047 26.114 27.1268 23.0052 27.1268 19.1969C27.1268 18.5363 27.0097 17.8756 26.8146 17.215C28.1805 15.9326 29.0001 14.1062 29.0001 12.1632ZM25.1364 17.2539C25.3706 17.8756 25.5267 18.5363 25.5267 19.1969C25.5267 22.1503 23.1071 24.5596 20.141 24.5596C18.8922 24.5596 17.7604 24.1321 16.8238 23.3938C18.619 23.0052 21.3509 21.6839 21.3509 17.487C21.3509 17.0596 20.9996 16.7098 20.5703 16.7098C18.9312 16.7098 16.1993 17.3705 14.8724 19.6632C13.5455 17.3705 10.7746 16.7098 9.13553 16.7098C8.70623 16.7098 8.35499 17.0596 8.35499 17.487C8.35499 21.6839 11.1259 23.0052 12.8821 23.3938C11.9454 24.1321 10.7746 24.5596 9.56482 24.5596C6.59879 24.5596 4.17914 22.1503 4.17914 19.1969C4.17914 18.5363 4.29622 17.8756 4.53038 17.2539L4.72552 16.7098L4.29622 16.3601C3.00835 15.3497 2.26684 13.7953 2.26684 12.1632C2.26684 9.20984 4.68649 6.80052 7.65251 6.80052C7.96473 6.80052 8.27694 6.83938 8.62818 6.87824L9.44774 7.03368L9.56482 6.21762C9.91606 3.57513 12.2186 1.5544 14.9115 1.5544C17.6043 1.5544 19.9069 3.57513 20.2581 6.21762L20.3752 7.03368L21.1948 6.87824C21.546 6.80052 21.8582 6.80052 22.1704 6.80052C25.1364 6.80052 27.5561 9.20984 27.5561 12.1632C27.5561 13.7953 26.8146 15.3497 25.5267 16.3601L25.0584 16.7098L25.1364 17.2539Z"
                                        fill="white" />
                                </svg>
                                {{/case}}
                                {{#case "carinata"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M14.7046 18.1904H1.065C0.660975 18.1904 0.333252 17.8603 0.333252 17.4533C0.333252 17.0462 0.660974 16.7161 1.065 16.7161H14.6596C14.3057 15.8567 13.7528 15.1109 12.9947 14.5307C12.6919 14.299 12.36 14.0969 12.0133 13.9389C11.8829 13.8795 11.7392 13.8194 11.6013 13.7792C11.2146 13.6665 10.9912 13.2576 11.1032 12.8681C11.2152 12.4787 11.621 12.2536 12.0069 12.3663C12.1976 12.4206 12.4002 12.505 12.5808 12.5871C13.031 12.7916 13.4619 13.0517 13.8561 13.3511C14.2853 13.677 14.6646 14.044 14.9938 14.4468C14.921 12.4221 14.6833 10.3779 14.1605 8.47216C13.4231 5.78416 12.0762 3.2704 9.61186 1.84045C9.26338 1.63825 9.14257 1.18836 9.343 0.837006C9.54343 0.485602 9.99063 0.363717 10.3394 0.566074C12.4086 1.76669 13.8039 3.59687 14.7337 5.70537C14.803 5.62602 14.8742 5.54827 14.9473 5.47219C15.357 5.04575 15.8199 4.68054 16.3305 4.3843C16.6792 4.18195 17.1264 4.30383 17.3269 4.65524C17.5273 5.00659 17.4065 5.45647 17.058 5.65867C16.6652 5.88663 16.3105 6.16938 15.9953 6.49741C15.7518 6.75085 15.5353 7.0285 15.3438 7.32312C15.4237 7.57324 15.4985 7.82575 15.5683 8.08016C16.0152 9.70941 16.2665 11.4264 16.3874 13.1512C16.4438 13.0486 16.5019 12.9467 16.5618 12.8455C17.3955 11.4384 18.5091 10.3051 19.836 9.3653C20.166 9.13157 20.622 9.21155 20.8541 9.54397C21.0863 9.87642 21.0068 10.336 20.6768 10.5698C19.5201 11.389 18.5425 12.3731 17.8153 13.6003C17.2402 14.5711 16.8614 15.6238 16.6134 16.7161H31.4992C31.9032 16.7161 32.2309 17.0462 32.2309 17.4532C32.2309 17.8603 31.9032 18.1904 31.4992 18.1904H18.6431C18.6898 18.2112 18.7349 18.2373 18.7778 18.2687C19.1035 18.5076 19.1755 18.9677 18.938 19.2956L17.8369 20.8162C18.0072 20.8834 18.1901 20.909 18.3832 20.871C18.7789 20.7931 19.1638 21.0543 19.241 21.4529C19.3183 21.8515 19.0591 22.2392 18.6635 22.317C18.3155 22.3855 17.9724 22.3769 17.6387 22.2922C17.7059 22.3871 17.7839 22.4754 17.8676 22.5568C17.9036 22.5472 17.9384 22.5389 17.9713 22.5318C18.6648 22.3838 19.4395 22.5272 20.1028 22.7439C20.4412 22.8545 20.7422 22.9929 21.0488 23.1519C21.0568 23.1559 21.0647 23.16 21.0726 23.1642C21.1376 23.1982 21.203 23.233 21.269 23.2687C21.4306 23.3561 21.6037 23.4532 21.7804 23.5046C21.9886 23.5653 22.1779 23.5506 22.3846 23.4893C22.7497 23.3809 23.136 23.1376 23.4485 22.9239C23.7815 22.6962 24.2364 22.7844 24.4621 23.1199C24.6877 23.4553 24.6003 23.9131 24.2676 24.1406C23.7941 24.4644 23.242 24.8004 22.6887 24.9619C22.488 25.0205 22.2918 25.0544 22.095 25.0592C22.2697 25.2879 22.4664 25.4934 22.6805 25.677C22.7208 25.7041 22.7587 25.7353 22.7933 25.7705C23.2969 26.1737 23.888 26.4646 24.5131 26.6618C24.8978 26.7832 25.1131 27.1958 24.9932 27.5837C24.8732 27.9718 24.4628 28.1892 24.0776 28.0677C23.6755 27.9408 23.2879 27.783 22.9209 27.5925C23.0264 27.8121 23.1484 28.0285 23.2634 28.2264C23.4667 28.5761 23.35 29.0275 23.0029 29.2325C22.6557 29.4376 22.2074 29.3199 22.004 28.97C21.6004 28.2758 21.1424 27.2697 21.3579 26.4368C21.1128 26.1819 20.8898 25.9011 20.6928 25.5933C20.4634 25.2351 20.273 24.8448 20.1385 24.4403C20.1258 24.4021 20.113 24.3625 20.1006 24.3221C19.957 24.2554 19.8102 24.1951 19.655 24.1444C19.4857 24.0891 19.2962 24.0328 19.1035 23.9897C19.2801 24.4401 19.3282 24.9438 19.2556 25.482C19.1906 25.9633 19.0082 26.5497 18.7671 26.9768C18.5695 27.3309 18.1242 27.4571 17.7723 27.2584C17.4204 27.0596 17.2946 26.6101 17.4921 26.2556C17.6341 26.0009 17.7479 25.6617 17.7953 25.3763C17.8858 24.8319 17.7756 24.3389 17.3148 24.0006C17.3096 23.9969 17.3045 23.9932 17.2994 23.9894C17.0696 23.8213 16.8558 23.6332 16.6694 23.4246C16.6853 23.4656 16.7002 23.507 16.7137 23.5488C16.9319 24.2232 16.7751 24.8324 16.403 25.3554C16.6919 25.992 16.6463 26.699 16.3718 27.3912C16.2047 27.8128 15.9179 28.3021 15.6154 28.6451C15.3495 28.9479 14.8857 28.9762 14.5852 28.7084C14.2838 28.4397 14.2555 27.9739 14.5222 27.6704C14.7686 27.39 15.0207 26.9537 15.1042 26.592C15.1148 26.546 15.1232 26.5004 15.129 26.4552C14.9094 26.5831 14.6817 26.6978 14.451 26.8026C14.0836 26.9695 13.6498 26.8039 13.4842 26.4338C13.3187 26.0637 13.483 25.6269 13.8503 25.46C14.085 25.3534 14.3167 25.2344 14.5352 25.0967C14.6969 24.9948 14.856 24.8799 14.9949 24.7477C15.2805 24.4758 15.3909 24.1753 15.212 23.8088C15.1174 23.615 14.9224 23.3876 14.7457 23.2612C14.6452 23.1894 14.5633 23.0968 14.5074 22.9897L14.4661 22.9955L14.4382 22.7925C14.4356 22.7793 14.4334 22.766 14.4315 22.7526L14.398 22.5092L14.3991 22.5091L14.3461 22.1244C14.3309 22.1529 14.3152 22.181 14.2989 22.2088C13.8435 22.9891 13.0565 23.4375 12.2158 23.6852C12.1654 23.8941 12.1398 24.1237 12.1349 24.3054C12.1127 25.1346 12.4241 25.9165 12.9038 26.5797C13.141 26.9077 13.0691 27.3676 12.7435 27.6065C12.4178 27.8453 11.9615 27.7729 11.7244 27.445C11.0355 26.4926 10.6348 25.3853 10.6834 24.1997C10.6843 24.1792 10.6853 24.1587 10.6864 24.1382C10.2205 24.4232 9.85802 24.8767 9.58158 25.3432C9.55443 25.415 9.51636 25.4819 9.46928 25.5415C9.176 26.0831 8.95642 26.6831 8.79207 27.2727C8.70593 27.5818 8.6254 27.9115 8.57493 28.2292C8.51129 28.6301 8.13756 28.9037 7.73943 28.8401C7.34122 28.7764 7.06922 28.3995 7.13275 27.9983C7.20269 27.5505 7.32825 27.073 7.46112 26.6416C7.51562 26.4647 7.57477 26.2872 7.63889 26.1103C7.44547 26.191 7.26547 26.2919 7.11163 26.4184C6.84435 26.6381 6.72492 26.8655 6.60273 27.1804C6.50988 27.4197 6.42901 27.62 6.22996 27.7917C5.92489 28.0548 5.461 28.0184 5.19995 27.711C4.95883 27.4271 4.97124 27.0069 5.21485 26.7372C5.22012 26.7068 5.22865 26.677 5.24132 26.6444C5.44756 26.1128 5.66509 25.7056 6.10352 25.3231C6.7476 24.7613 7.62695 24.5061 8.47008 24.3927C8.54163 24.2814 8.61622 24.1727 8.69387 24.067C9.31664 23.2196 10.1368 22.5784 11.1939 22.4094C11.2791 22.3957 11.3678 22.3796 11.4584 22.3606C11.4851 22.3531 11.5122 22.3472 11.5397 22.3428C11.7709 22.2901 12.0114 22.2177 12.2358 22.1178C11.3926 22.0735 10.5394 21.7969 9.79773 21.4783C9.42841 21.3196 9.25448 20.8851 9.41172 20.5129C9.56904 20.1406 10.0007 19.9652 10.3702 20.1239C11.1949 20.4783 12.324 20.8258 13.2037 20.4649C13.7858 20.2261 14.1378 19.7282 14.3771 19.1639C14.4894 18.8994 14.5776 18.6275 14.658 18.3526C14.6623 18.3358 14.6671 18.3191 14.6726 18.3026C14.6834 18.2652 14.694 18.2278 14.7046 18.1904L14.7046 18.1904ZM16.2218 18.1904C16.2008 18.2642 16.1805 18.3381 16.16 18.4119C16.1514 18.4431 16.1427 18.4742 16.134 18.5052C16.1803 18.6252 16.2307 18.7443 16.2818 18.8598C16.4223 19.1773 16.5853 19.4948 16.7747 19.789L17.7588 18.4301C17.8374 18.3215 17.9401 18.2409 18.0541 18.1904H16.2218L16.2218 18.1904Z"
                                        fill="white" />
                                </svg>
                                {{/case}}
                                {{#case "sunflower"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M0 20.6667C0 28.9501 6.71667 35.6667 15 35.6667C15 27.3334 8.28333 20.6667 0 20.6667ZM15 8.16675C17.3 8.16675 19.1667 10.0334 19.1667 12.3334C19.1667 14.6334 17.3 16.5001 15 16.5001C12.7 16.5001 10.8333 14.6334 10.8333 12.3334C10.8333 10.0334 12.7 8.16675 15 8.16675ZM4.33333 16.0834C4.33333 18.3834 6.2 20.2501 8.5 20.2501C9.38333 20.2501 10.2 19.9667 10.8333 19.5167C10.8333 19.6167 10.8333 19.7167 10.8333 19.8334C10.8333 22.1334 12.7 24.0001 15 24.0001C17.3 24.0001 19.1667 22.1334 19.1667 19.8334C19.1667 19.7167 19.1667 19.6167 19.1667 19.5167C19.8 19.9667 20.6167 20.2501 21.5 20.2501C23.8 20.2501 25.6667 18.3834 25.6667 16.0834C25.6667 14.4167 24.6833 13.0001 23.2833 12.3334C24.6833 11.6667 25.6667 10.2334 25.6667 8.58341C25.6667 6.28341 23.8 4.41675 21.5 4.41675C20.6167 4.41675 19.8 4.68341 19.1667 5.15008C19.1667 5.05008 19.1667 4.93341 19.1667 4.83341C19.1667 2.53341 17.3 0.666748 15 0.666748C12.7 0.666748 10.8333 2.53341 10.8333 4.83341C10.8333 4.93341 10.8333 5.05008 10.8333 5.15008C10.2 4.68341 9.38333 4.41675 8.5 4.41675C6.2 4.41675 4.33333 6.28341 4.33333 8.58341C4.33333 10.2334 5.31667 11.6667 6.71667 12.3334C5.31667 13.0001 4.33333 14.4167 4.33333 16.0834ZM15 35.6667C23.2833 35.6667 30 28.9501 30 20.6667C21.6667 20.6667 15 27.3334 15 35.6667Z"
                                        fill="white" />
                                </svg>
                                {{/case}}
                                {{#case "wheat"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M2.21659 28.5499C0.833252 26.6166 0.833252 24.3833 0.833252 22.1666C3.61659 23.8333 6.38325 25.4999 7.78325 27.4499L8.33325 28.3833V24.5833C5.83325 23.0833 3.46659 21.5499 2.21659 19.7999C0.833252 17.8666 0.833252 15.6333 0.833252 13.4166C3.61659 15.0833 6.38325 16.7499 7.78325 18.6999L8.33325 19.6666V15.8333C5.83325 14.3333 3.46659 12.7999 2.21659 11.0499C0.833252 9.1166 0.833252 6.88327 0.833252 4.6666C3.61659 6.33327 6.38325 7.99993 7.78325 9.94993C7.94992 10.1833 8.09992 10.4333 8.23325 10.6999C7.94992 9.6666 7.76658 8.69993 7.74992 7.69993C7.73325 5.18327 8.83325 2.59993 9.93325 0.0166016C11.0833 2.48327 12.2333 4.9666 12.2499 7.48327C12.2666 8.53327 12.0833 9.59993 11.7833 10.6499C11.9166 10.4166 12.0499 10.1833 12.2166 9.94993C13.6166 7.99993 16.3833 6.33327 19.1666 4.6666C19.1666 6.88327 19.1666 9.1166 17.7833 11.0499C16.5333 12.7999 14.1666 14.3333 11.6666 15.8333V19.6666L12.2166 18.6999C13.6166 16.7499 16.3833 15.0833 19.1666 13.4166C19.1666 15.6333 19.1666 17.8666 17.7833 19.7999C16.5333 21.5499 14.1666 23.0833 11.6666 24.5833V28.3833L12.2166 27.4499C13.6166 25.4999 16.3833 23.8333 19.1666 22.1666C19.1666 24.3833 19.1666 26.6166 17.7833 28.5499C16.5333 30.2999 14.1666 31.8333 11.6666 33.3333V36.3333H8.33325V33.3333C5.83325 31.8333 3.46659 30.2999 2.21659 28.5499Z"
                                        fill="white" />
                                </svg>
                                {{/case}}
                                {{#default "default"}} <svg class="bigLogoContainer" viewBox="0 0 34 34">
                                    <path class="bigLogo"
                                        d="M14.4271 32.6661C14.0565 32.6752 13.6974 32.5384 13.4287 32.2857C13.16 32.0331 13.0036 31.6853 12.994 31.3187V12.2983C11.2783 13.4562 9.20188 13.9721 7.13662 13.7539C5.07135 13.5357 3.15206 12.5974 1.72238 11.1072C1.50508 10.8848 1.29955 10.6513 1.10662 10.4079C-2.40537 5.98967 3.97697 0.384355 7.90582 4.41452L12.994 9.62504V8.41235L19.5153 1.71966C23.4441 -2.31051 29.8265 3.29481 26.3145 7.71303C26.1216 7.95648 25.916 8.1899 25.6987 8.41235C24.4626 9.70088 22.8553 10.5817 21.0953 10.9351C19.3353 11.2885 17.5079 11.0974 15.8616 10.3877V31.3187C15.852 31.6855 15.6954 32.0335 15.4264 32.2862C15.1574 32.5389 14.798 32.6755 14.4271 32.6661Z"
                                        fill="white" />
                                </svg>
                                {{/default}}
                                {{/switch}}
                                <div>
                                    <img class="qr" src="../../../public/uploads/pdf-crop-history/qr_img.svg">
                                </div>
                                <div>
                                    <div class="binnacle">
                                        Historia de cultivo al {{ dateCreatePdf }}<br>
                                        {{ moment crop format="MM-YYYY" }} - {{ moment dateHarvest format="MM-YYYY" }}
                                    </div>

                                    <div class="text-title">
                                        {{crop.name}} <br>{{moment crop.crop format="DD/MM/YYYY"}}
                                    </div>
                                    <div class="text-company">
                                        {{company}}
                                    </div>
                                </div>
                                {{!-- <div class="eiq">
                                    <div class="center">
                                        EIQ: {{crop.eiq}}
                                    </div>
                                </div> --}}
                                <div class="dataContainer">
                                    <div class="dataNames">Sup Neta</div>
                                    <div class="dataValue">{{crop.surface}} has</div>
                                    <div class="dataNames">Rinde</div>
                                    <div class="dataValue">{{crop.pay}} Kgs/ha</div>
                                    <div>
                                        <div class="dataNames">Volumen</div>
                                        <div class="dataValue">{{crop.volume}} Ton</div>
                                    </div>
                                </div>
                                {{#each activities}}
                                {{#if @last}}
                                <div class="lastActivity">
                                    <div class="last-frame">
                                        <div class="lastActivity-title dataValue">{{name}} {{status}}</div>
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}

                            {{!-- TODO: Insignias --}}
                            <div class="badges">
                                {{#each crop.badges}}
                                 <div class="badges-description" >
                                    <img src={{badge.imagePath}} class="badges-image" />
                                        <div class="hz-description" >
                                            <p class="size-description">{{badge.name.es}}</p>
                                            <p>{{surfaceTotal}}</p>
                                        </div> 
                                    </div>  
                                {{/each}}
                            </div>

                    </div>
            {{!-- TODO: aqui cierra el fill --}}

                <div class="crop-leaders">
                    <div class="spokesman">
                        <h5 class="spokesman-title">
                            Responsable del cultivo
                        </h5>
                        <h3 class="spokesman-name">{{crop.company.name}}</h3>
                        <div class="spokesman-data">{{crop.company.phone}}</div>
                        <div class="spokesman-data">{{crop.company.email}}</div>
                    </div>
                    <div class="spokesman">
                        <h5 class="spokesman-title">
                            Contacto comercial
                        </h5>
                        <h3 class="spokesman-name">{{crop.company.name}}</h3>
                        <div class="spokesman-data">Potencial Teórico {{theoriticalPotential}} ton</div>
                        <div class="spokesman-data">{{crop.company.phone}}</div>
                        <div class="spokesman-data">{{crop.company.email}}</div>
                    </div>
                </div>
                {{!-- TODO: aqui cierra la seccion de datos --}}

                    {{!-- <div class="activities">
                        <div class="activity-header">
                            <img class="activity-type-img" src="https://static.thenounproject.com/png/420338-200.png" width="26"
                                height="26" />
                            <div class="activity-title">Acuerdos</div>
                        </div>
                        {{#each activities}}
                        {{#is tag "ACT_AGREEMENTS" }}
                        <div class="acuerdos">
                            <div class="row">
                                <div class="column">
                                    <div class="date-activity">
                                        <i class="fa fa-calendar"></i>{{moment dateOrder format="DD/MM/YYYY"}}
                                    </div>
                                    <h3 class="activity-framed-h1">{{typeAgreement.name.es}}</h3>
                                    <div class="activity-lots">{{lotsQuantity}} lotes</div>
                                    <div class="spokesman-data">Evidencias</div>
                                    <div class="backup-docs">documentacion de respaldo</div>
                                    {{#each files}}
                                    <div class="link-pdf" ><img
                                            src="https://www.bitcoinargentina.org/wp-content/uploads/2020/11/pdf-icon-png-2056-242x300.png"
                                            height="25" width="25" />
                                        <a href={{path}}>{{name}}</a>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="column">
                                    <div class="activity-validations">
                                        <div class="validation-title">Validaciones</div>
                                        <div><span class="validation-date">{{moment dateOrder format="DD/MM/YYYY"}}</span></div>
                                        <div class="validation-name">Santiago Casares</div>
                                        <divclass="backup-docs">Productor - 30-20771364-9
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="activity-frame-lots">
                                    {{#if lots}}
                                    {{#each lots}}

                                    <div class="agreement-card">
                                        <img src={{image.normal}} alt="crop" class="activity-lots-image">
                                        <div class="container">
                                            <h4 class="lot-pic-text"><b>Foto Georeferenciada</b></h4>
                                            <p class="type-pic-card">Dentro del lote</p>
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/is}}
                        {{/each}}
                    </div> --}}
                {{!-- TODO: Aqui cierra acuerdos --}}

                {{#each activities}}
                    {{#if (or (is status 'REALIZADA') (is tag 'TERMINADA'))}}
                            {{#if (or (is tag 'ACT_HARVEST') (is tag 'ACT_MONITORING'))}}
                        <div class="activity-header">
                            {{#switch tag}}
                                {{#case "ACT_MONITORING"}}
                                <img class="activity-type-img" src="https://ucropsatelliteimagery.s3.amazonaws.com/stage/monitoring.svg" width="26"
                                    height="26" />
                                {{/case}}
                                {{#case "ACT_HARVEST"}}
                                <img class="activity-type-img" src="https://ucropsatelliteimagery.s3.amazonaws.com/stage/harvest.svg"
                                    width="26" height="26" />
                                {{/case}}
                            {{/switch}}
                        <div class="activity-title">{{name}}</div>

                        <div class="activity-frame">
                                    
                                    {{#is tag 'ACT_HARVEST'}}
                                        <div class="date-activity">
                                              <i class="fa fa-check"></i> {{ moment dateHarvest format="DD/MM/YYYY" }}
                                         </div>
                                        <h3 class="activity-framed-h1">Rinde: {{pay}} {{unitType}}.</h3>
                                    {{/is}}

                                    {{#is tag 'ACT_MONITORING'}}
                                        <div class="date-activity">
                                              <i class="fa fa-check"></i> {{ moment dateObservation format="DD/MM/YYYY" }}
                                         </div>
                                        <h3 class="activity-framed-h1">Rinde Estimado: {{pay}} {{unitType}}.</h3>
                                    {{/is}}
                                    
                                    <div class="activity-lots">{{lotsQuantity}} lotes ({{surface}} has.)</div>
                                    <div class="spokesman-data">Evidencias</div>
                                    <div class="backup-docs">documentacion de respaldo</div>
                                    {{#each evidencesPdf}}
                                        <div class="link-pdf">
                                            <img
                                                src="https://www.bitcoinargentina.org/wp-content/uploads/2020/11/pdf-icon-png-2056-242x300.png"
                                                height="25" width="25" />
                                            <a href={{path}}>{{description}}</a>
                                        </div>
                                    {{/each}}
                                    <div class="activity-validations">
                                        {{#each signers}}
                                            <div>
                                                <div class="validation-title">Validaciones</div>
                                                {{#if dateSigned }}
                                                    <div><span class="validation-date">{{moment dateSigned format="DD/MM/YYYY"}}</span></div>
                                                {{else}}
                                                    <div><span class="not-signed-validation-date">{{moment dateOrder format="DD/MM/YYYY"}}</span></div>
                                                {{/if}}
                                                <div class="validation-name">{{fullName}}</div>
                                                <div class="backup-docs">{{rol}}- {{cuit}}</div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="activity-frame-lots"> 
                                        {{#if evidenceImages}}
                                            {{#each evidenceImages}}
                                            <div class="activity-frame-lots-under"> 
                                                <div class="card">
                                                    <img src={{thumb}} alt="crop" class="activity-lots-image">
                                                    <div class="container">
                                                        <h4 class="lot-pic-text"><b>{{description}}</b></h4>
                                                        <p class="type-pic-card">Dentro del lote</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        {{/if}}
                                    </div>
                            </div>
                        </div>
                    {{else}}
                         <div class="activities">
                             <div class="date-activity-validation">
                                <i class="fa fa-calendar"></i> {{ moment dateStart format="DD/MM/YYYY" }} - {{ moment dateEnd format="DD/MM/YYYY" }}
                            </div>
                            <div class="activity-header">
                                {{#switch tag}}
                                    {{#case "ACT_SOWING"}}
                                        <img class="activity-type-img" src="https://ucropsatelliteimagery.s3.amazonaws.com/stage/sowing.svg" width="26"
                                            height="26" />
                                    {{/case}}
                                    {{#case "ACT_APPLICATION"}}
                                        <img class="activity-type-img" src="https://ucropsatelliteimagery.s3.amazonaws.com/stage/application.svg" width="26"
                                        height="26" />
                                    {{/case}}
                                {{/switch}}
                                 
                                <div class="activity-title">{{name}}</div>

                                {{#each achievements}}
                                    {{#if suppliesList }}
                                        {{#each suppliesList }}
                                            <p class="applications">{{name}}</p>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                                

                           
                            {{#each achievements}}
                                {{#if suppliesList }}
                                    <div class="activity-frame-actividades-validaciones">
                                        <div class="activity-header-val">
                                                <div class="date-activity-validation">
                                                    <i class="fa fa-check"></i>{{ moment dateAchievement format="DD/MM/YYYY" }}
                                                </div>
                                                {{#each (unique suppliesList)}}
                                                    <h3 class="applications-supply-validation"><b>{{name}}- {{total}}{{unit}}</b> </h3>
                                                {{/each}}
                                                <div class="activity-lots-validation">{{lotsQuantity}} lotes ({{surface}} has)</div>
                                                <div class="spokesman-data-validation">Evidencias</div>
                                                <div class="backup-docs-validation">documentacion de respaldo</div>
                                                {{#each evidencesPdf}}
                                                        <div class="link-pdf-val">
                                                            <img
                                                                src="https://www.bitcoinargentina.org/wp-content/uploads/2020/11/pdf-icon-png-2056-242x300.png"
                                                                height="25" width="25" />
                                                            <a href={{path}}>{{description}}</a>
                                                        </div>
                                            {{/each}}
                                                <div class="activity-validations">
                                                    {{#each signers }}
                                                        <div>
                                                            <div class="validation-title-val">Validaciones</div>
                                                            {{#if dateSigned }}
                                                                <div><span class="validation-date">{{moment dateSigned format="DD/MM/YYYY"}}</span></div>
                                                            {{else}}
                                                                <div><span class="not-signed-validation-date">{{moment dateOrder format="DD/MM/YYYY"}}</span></div>
                                                            {{/if}}
                                                            <div class="validation-name-val">{{fullName}}</div>
                                                            <div class="backup-docs-validation">{{rol}} - {{cuit}} </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                          
                            </div>
                        </div>
                    {{/if}}
                    {{/if}}
                    
                    {{!-- TODO: aqui cierra actividades --}}
                
                {{/each}}
    {{!-- FIXME: aqui cierra actividades de validaciones --}}
                        {{#each crop.lotsGroupByTag}}
                        <div class="activity-header">
                                <img class="activity-type-img" src="https://www.pngrepo.com/png/111305/180/tryptic-brochure.png" width="26"
                                    height="26" />
                                <div class="activity-title">{{tag}} Lotes - {{lotsQuantity}} ({{surface}} has.)</div>
                                <div class="activity-frame">
                                    <div class="date-activity">
                                        <div class="activity-lots">{{crop.lotsQuantity}} Lotes</div>
                                        {{#each lots}}
                                             <div class="spokesman-data">{{provinceName}} ({{surface}} has.)</div>
                                        {{/each}}
                                    </div>
                                    <div class="activity-frame-lots">
                                        {{#each lots}}
                                        <div class="card">
                                            <img src={{image}} alt="crop" class="activity-lots-img">
                                            <div class="container">
                                                <h4 class="lot-pic-text"><b>Foto Georeferenciada</b></h4>
                                                <p class="type-pic-card">Dentro del lote</p>
                                                {{!-- <div class="eiq-lots">
                                                    <div class="center">
                                                        EIQ: {{eiq}}
                                                    </div>
                                                </div> --}}
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                        </div>
                        {{/each}}
                {{!-- TODO: aqui cierra lotes final --}}

      </div>
    </body>
</html>